@import "tailwindcss";

@layer base {
  :root {
    --color-primary: white;
    --color-secondary: black;
    --color-bg-primary: white;
    --color-text-base:black;
  }

  .dark {
    --color-primary: black;
    --color-secondary: white;
  }

  .light {
    --color-primary: #eff2b1;
    --color-secondary: black;
  }
}

html {
  scroll-behavior: smooth;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
 */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
background: #cdd0d4;
background: linear-gradient(60deg, rgba(205, 208, 212, 1) 0%, rgba(161, 161, 161, 1) 50%, rgba(71, 71, 71, 1) 100%);
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-opp {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: var(--bar-width);
  }
}

.grow-bar {
  animation: grow 1s ease-out forwards;
}


.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
  }

.animate-fade-in-slow {
    animation: fadeIn 1s ease-out forwards;
  }

.animate-fade-out {
  animation: fade-out 0.7s ease-out forwards;
}

.animate-slide-down {
  animation: slide-down 0.7s ease-out forwards;
}

.animate-slide-in {
  animation: slide-in 0.7s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.7s ease-out forwards;
}

.animate-slide-in-opp {
  animation: slide-in-opp 0.7s ease-out forwards;
}

.menu-btn-1 {
  padding: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn-1 span,
.menu-btn-1 span::before,
.menu-btn-1 span::after {
  background: #d9d9d9;
  border-radius: 3px;
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  transition: 0.3s ease-in-out;
}

.menu-btn-1 span::before {
  margin-top: -7px;
}

.menu-btn-1 span::after {
  margin-top: 7px;
}

.menu-btn-1.active span {
  background: transparent;
}

.menu-btn-1.active span::before {
  margin-top: 0;
  transform: rotate(45deg);
}

.menu-btn-1.active span::after {
  margin-top: 0;
  transform: rotate(-45deg);
}

.outlined-text {
    color: #d9d9d9;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}


.loader {
  width: 20px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fefefe;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}